div{
    border: 1px solid black;
   
   
}
.topno{
    border-top-style: none;
}
.bottomno{
    border-bottom-style: none;
}

    div#red:hover{
    color: red;
}

.container{
    border: none;
    width: 100px;
}
